@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#root {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

